@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: white;
}

/*Estilo tablas*/
.tabla {
  max-height: 400px; /* Establece la altura máxima para mostrar solo 400px de contenido */
  overflow-y: auto; /* Agrega scroll vertical cuando el contenido excede la altura máxima */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
  /*background-color: white;*/
  text-align: center;
}

thead {
  background-color: gray;
  text-align: center;
}
/*end tablas*/

.filtro{
  box-sizing: border-box;
  position:absolute;
  width: 600px;
  height: 250px;
  left: 20px;
  top: 95px;
  background: #1D568D;
  border-radius: 20px;
  margin-top: 20px;
}
.tema{
  margin-top: 20px;
  margin-left: 40px;
  color: white;
  
}

::selection{
    color: #fff;
    background: #4285f4;
  }
  .wrapper{
    width: 370px;
    margin: 85px auto 0;
  }
  .select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .select-btn{
    height: 65px;
    padding: 0 20px;
    font-size: 22px;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .select-btn i{
    font-size: 31px;
    transition: transform 0.3s linear;
  }
  .wrapper.active .select-btn i{
    transform: rotate(-180deg);
  }
  .content{
    display: none;
    padding: 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .wrapper.active .content{
    display: block;
  }
  .content .search{
    position: relative;
  }
  .search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  }
  .search input{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
  }
  .search input:focus{
    padding-left: 42px;
    border: 2px solid #4285f4;
  }
  .search input::placeholder{
    color: #bfbfbf;
  }
  .content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
  }
  .options::-webkit-scrollbar{
    width: 7px;
  }
  .options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
  }
  .options li{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
  }
  .options li:hover, li.selected{
    border-radius: 5px;
    background: #f2f2f2;
  }

.descargas{
  position: absolute;
  width: 473px;
  height: 224px;
  left: 952px;
  top: 137px;

  background: #1D568D;
  border-radius: 20px;
  /*width: 600px;
  height: 250px;*/
}

.resultado{
  position: absolute;
  width: 1080px;
  height: 400px;
  margin-top: 400px;
  background: #1D568D;
  border-radius: 20px;
  color: white;
  position: absolute;
  margin-left: 250px;
  margin-right: 300px;
  
}

.excel img{
  height: 100px;
  width: auto;
  transition: all 0.3s;
  border-radius: 10%;
  position: absolute;
  right: 350px;
  margin-top: 50px;
  
}
.pdf img{
  height: 100px;
  width: auto;
  transition: all 0.3s;
  border-radius: 10%;
  position: absolute;
  right: 200px;
  margin-top: 50px;
}