<app-header></app-header>
<div class="profesores">
    <div class="filtro">
        <div class="tema">
          <!-- para filtrar -->
            <select (change)="filtrarGrupos($event)">
              <option value="todos">Todos los grupos</option>
                <option *ngFor="let grupo of grupos" [value]="grupo.grupo">
                  Grupo {{ grupo.grupo }}
                </option>
            </select>

            <select (change)="obtenerMaterias()">
              <option value="todas">Todas las materias</option>
              <option *ngFor="let materia of materiasFiltradas" [value]="materia">
                {{ materia }}
              </option>
            </select>

            <select [(ngModel)]="carreraSeleccionada" (change)="onCarreraSelectionChange()">
              <option value="" disabled selected>Selecciona una carrera</option>
              <option *ngFor="let carrera of carreras" [value]="carrera">{{ carrera }}</option>
            </select>

        </div>  
    </div>
    <div class="descargas">
        <div class="excel">
            <img src="../../assets/images/excel.png" alt="">
        </div>
        <div class="pdf">
            <img src="../../assets/images/pdf.png" alt="">
        </div>

    </div>
    <div class="resultado">
      <div class="tabla">
        <table>
          <thead>
            <tr>
                <th>N° de Cuenta</th>
                <th>Nombre</th>
                <th>Grupo</th>
                <th>Estrategia de Aprendizaje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alumno of alumnosFiltrados">
                <td>{{ alumno.nro_cuenta }}</td>
                <td>{{ getNombreCompleto(alumno) }}</td>
                <td>{{ alumno.grupo }}</td>
                <td>{{ alumno.estrategia_aprendizaje }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="estrategias">
      <h4>Nombre Alumno: </h4>
      <p class="erecomendada">Estrategias de enseñanza recomendadas:</p>
      <input type="checkbox" id="cbox1" value="e1_checkbox"><p class="pe1">{{datos.ee1.titulo}}</p>
      <input type="checkbox" id="cbox2" value="e2_checkbox"><p class="pe2">{{datos.ee2.titulo}}</p>
      <input type="checkbox" id="cbox3" value="e3_checkbox"><p class="pe3">{{datos.ee3.titulo}}</p>
      <input type="checkbox" id="cbox4" value="e4_checkbox"><p class="pe4">{{datos.ee4.titulo}}</p>
      <p class="detallese">Detalles de las Estrategias:</p>
      <div class="de1"><p>{{datos.ee1.descripcion}}</p></div>
      <div class="de2"><p>{{datos.ee2.descripcion}}</p></div>
      <div class="de3"><p>{{datos.ee3.descripcion}}</p></div>
      <div class="de4"><p>{{datos.ee4.descripcion}}</p></div>
  </div>
</div>