<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SREE</title>
    <link rel="stylesheet" href="../profesores/profesores.component.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0.0/css/line.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../../assets/images/logo-sree paint.png" alt="SREE"> 
        </div>
        <div class="nombreapp">
            <a>Sistema de Recomendación de Estrategias de Enseñanza</a>
        </div>
        <!--<nav>
           <ul class="nav-links">
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
           </ul>            
        </nav>-->
        <a class="btn" href="#"><button>Cerrar Sesión</button></a>
    </header>
    <div class="filtro">
        <div class="tema">
            <a>Filtro </a>
        </div>
        
        <div class="wrapper">
            <div class="select-btn">
                <span>Buscar </span>
                <i class="uil uil-angle-down"></i>
            </div>
            <div class="content">
                <div class="search">
                  <i class="uil uil-search"></i>
                  <input spellcheck="false" type="text" placeholder="Search">
                </div>
                <ul class="options"></ul>
            </div> 
        
        </div>
    </div>
    <div class="descargas">
        <div class="excel">
            <img src="../../assets/images/excel.png" alt="">
        </div>
        <div class="pdf">
            <img src="../../assets/images/pdf.png" alt="">
        </div>

    </div>
    <div class="resultado">
        <p>hola yo soy el resultado y aquí deben de salir las tablas PERO NO SALEN </p>
    </div>

    <script src="../profesores/script.js"></script>
    

</body>
</html>
